#chars-frame {
  background-color: lightgray;
  height: 100vh;
  width: 72px;

  display: flex;
  flex-direction: column;
  justify-content: left;
}

#add-btn {
  font-size: 40px;
  font-weight: normal;
}

#contour {
  background-color: black;
  border-right: 36px solid black;
  margin-top: 8px;
}

#home {
  margin-bottom: 8px;
}

.center {
  align-self: center;
  height: 48px;
  width: 48px;

  border-radius: 40%;
  margin-top: 8px;
}

.center:hover {
  filter: brightness(80%);
  transition: all ease 0.3s 0s;
}