.modal-container {
  z-index: 100;
  position: absolute;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);

  width: 100vw;
  height: 100vh;

  animation: fadein 150ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-hidden {
  animation: fadeout 150ms;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}